@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'general';
    src: url('../resources/Montserrat_Complete/Fonts/OTF/Montserrat-Medium.otf');
}

@font-face {
    font-family: 'titulos';
    src: url('../resources/Montserrat_Complete/Fonts/OTF/Montserrat-ExtraBold.otf');
}

* {
    font-family: general;
}

h1 {
    font-family: titulos;
}

:root {
    --color-primario: #d90569;
}

nav,
footer {
    @apply select-none;
}

.shadow-personalizada {
    border-bottom: solid 1px var(--color-primario);
}

.button-form-contact {
    background: var(--color-primario);
    opacity: .8;
}

.focused-border:focus,
.focused-border:hover,
.focused-border:valid {
    border: 1px solid var(--color-primario);
}

footer {
    @apply border-opacity-10;
    border-top: solid 1px var(--color-primario);
}

.icon-footer:hover,
.links,
.color-personalizado,
b {
    fill: var(--color-primario);
    color: var(--color-primario);
}

.bg-personalizado {
    background: var(--color-primario);
}