@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'general';
    src: url('../resources/Montserrat_Complete/Fonts/OTF/Montserrat-Medium.otf');
}

@font-face {
    font-family: 'titulos';
    src: url('../resources/Montserrat_Complete/Fonts/OTF/Montserrat-ExtraBold.otf');
}

* {
    font-family: general;
}

h1 {
    font-family: titulos;
}

:root {
    --color-primario: #d90569;
}

nav,
footer {
    @apply select-none;
}

.shadow-personalizada {
    border-bottom: solid 1px var(--color-primario);
}

.button-form-contact {
    background: var(--color-primario);
    opacity: .8;
}

.focused-border:focus,
.focused-border:hover,
.focused-border:valid {
    border: 1px solid var(--color-primario);
}

footer {
    @apply border-opacity-10;
    border-top: solid 1px var(--color-primario);
}

.icon-footer:hover,
.links,
.color-personalizado,
b {
    color: var(--color-primario);
}

.bg-personalizado {
    background: var(--color-primario);
}

.element-contact {
    @apply mx-10;
    max-width: 420px;
}

::-webkit-scrollbar {
    display: none;
}

.h-80vh {
    height: 86vh;
}

@media (max-width:640px) {

    nav a,
    nav button {
        font-size: 12px;
    }

    .info-section h2 {
        font-size: 10px;
    }

    .info-section a,
    .info-section p {
        font-size: 12px;
    }

    .info-section {
        width: 100%;
    }

    .element-contact {
        @apply mx-0
    }

}

@media (max-width:360px) {
    .element-contact.form {
        @apply px-5 py-3
    }

    .element-contact.form h2 {
        @apply text-xl
    }

    .element-contact.form p {
        @apply text-xs
    }

    .element-contact.form label {
        @apply text-xs
    }

    .element-contact.form button {
        @apply text-xs px-0 w-2/3 mx-auto
    }

    .element-contact.form p.chico {
        @apply tracking-tighter;
        font-size: 8px;
    }
}