nav a {
    @apply transition-all;
}

a.active,
a.active li,
nav a:hover,
nav a:hover>li,
nav button:hover,
nav button:focus,
nav .active button {
    @apply transition-all;
    color: var(--color-primario);
}

@media (max-width: 768px) {
    ul {
        flex-direction: row !important;
        justify-content: center !important;
    }

    ul>* {
        margin-right: 2rem;
    }

    ul>:last-child {
        margin-right: 0rem;
    }
}