table {
    @apply mx-auto w-full my-5;
}

section {
    @apply my-10;
}

h2 {
    @apply text-4xl font-semibold;
    color: var(--color-primario)
}

td {
    @apply px-1 py-4 text-sm tracking-tighter;
    border: 1px solid var(--color-primario);
}

thead tr td {
    @apply text-white text-lg;
    background: var(--color-primario);
    opacity: 0.8;
}

@media (max-width: 640px) {
    td {
        @apply leading-tight py-2 text-xs;
    }

    thead tr td {
        @apply leading-tight text-sm;
    }
}

@media (max-width: 420px) {
    td {
        @apply p-0 py-1;
        font-size: 9px;
    }

    thead tr td {
        font-size: 10px;
    }
}